// Scrollbar
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

hr {
  margin: 0rem !important;
}

button:focus {
  outline: none !important;
}

.icon-form {
  margin: -30px 15px 0 0;
}

#toTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}

.forum {
  height: 80px !important;
}

.forum-likes-wrapper {
  right: 20px;
  position: absolute;
  float: right;

  .forum-likes-count {
    border: 1px solid #ff5722 !important;
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #ff5722 !important;
    color: white;
    font-weight: 600;
  }
}

