.forum {
  height: 80px !important;
}

.forum-notifications-empty {
  margin: 15px 30px;
  text-align: center;
}

.questions-count {
  background-color: var(--notification-badge);
  height: 20px;
  min-width: 20px;
  padding: 10px;
  font-weight: 500;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.forum-forum-wrapper {

}


.forum-notifications-wrapper {
  .forum-notifications-count {
    top: -14px;
    left: -15px;
    position: relative;
    border: 1px solid white;
    border-radius: 100%;
    padding: 3px 0 0 0px;
    width: 25px;
    color: white;
    height: 25px;
    background: var(--notification-badge);
  }
}

.forum-home-wrapper {
  .forum-home-title {
    text-shadow: rgb(150, 150, 150) 4px 4px 2px;
    text-transform: uppercase;
  }
}

