.forum-replies-wrapper {
  .forum-replies-title {
    padding: 15px;
  }
  .forum-replies-avatar {
    top: 0px;
  }
  .forum-replies-card {
    border-bottom-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
  }
}
