// Configuration Background Black <-> Color White <-> Title Blue <-> Notifications, likes Red
.theme--light.v-toolbar.v-sheet {
  background-color: var(--nav-bar-background);
}

.theme--light.v-application{
  background: var(--web-wash);
  color: var(--white);
}

.theme--light.v-sheet {
  background-color: var(--surface-background);
  color: var(--white);
}

.v-icon.v-icon {
  color: var(--white);
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)>.v-input__control>.v-input__slot fieldset {
  color: var(--white) !important;
}

.theme--light.v-input input, .theme--light.v-input textarea, .theme--light.v-label {
  background-color: var(--nav-bar-background);
  color: var(--white) !important;
}
.v-application .indigo {
  background-color: var(--primary-button-background) !important;
}
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: var(--white) !important;
}
