// Configuration Background Black <-> Color White <-> Title Blue <-> Notifications, likes Red
.theme--light.v-toolbar.v-sheet {
  background-color: var(--nav-bar-background);
}

.theme--light.v-application{
  background: var(--web-wash);
  color: var(--white);
}

.theme--light.v-sheet {
  background-color: var(--surface-background);
  color: var(--white);
}

//.v-icon.v-icon,
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)>.v-input__control>.v-input__slot fieldset,
.theme--light.v-input input, .theme--light.v-input textarea, .theme--light.v-label,
.theme--light.v-card>.v-card__text,
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled),
.theme--light.v-select .v-select__selection--comma {
  color: var(--white) !important;
}

.v-application .indigo {
  background-color: var(--primary-button-background) !important;
}

.v-application .red--text {
  color: var(--notification-badge) !important;
  caret-color: var(--notification-badge) !important;
}

.v-application .red {
  background-color: var(--notification-badge) !important;
  border-color: var(--notification-badge) !important;
  border-bottom-left-radius: 0%;
}

.theme--light.v-divider {
  border-color: var(--white) !important;
  padding: 15px;
}
